@import "../../shared/stylesheets/bootstrap/mixins.less";
@import "../../shared/stylesheets/bootstrap/variables.less";
@import "../../shared/stylesheets/variables.less";

:local {
    .iframe {
        border: none;
        position: fixed;
        right: @widget-horizontal-spacing - @messenger-button-shadow-width;
        bottom: @widget-vertical-spacing;
        margin-bottom: -1px;
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            -webkit-animation: iframe-close-lg .4s cubic-bezier(.62, .28, .23, .99);
                    animation: iframe-close-lg .4s cubic-bezier(.62, .28, .23, .99);
            -webkit-animation-delay: .2s;
                    animation-delay: .2s;
            -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
        }
        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            -webkit-animation: iframe-close-md .4s cubic-bezier(.62, .28, .23, .99);
                    animation: iframe-close-md .4s cubic-bezier(.62, .28, .23, .99);
            -webkit-animation-delay: .2s;
                    animation-delay: .2s;
            -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
        }
        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            -webkit-animation: iframe-close-sm .4s cubic-bezier(.62, .28, .23, .99);
                    animation: iframe-close-sm .4s cubic-bezier(.62, .28, .23, .99);
            -webkit-animation-delay: .2s;
                    animation-delay: .2s;
            -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
        }
        @media (max-width: @screen-xs-max) {
            -webkit-animation: iframe-close-xs .4s cubic-bezier(.62, .28, .23, .99);
                    animation: iframe-close-xs .4s cubic-bezier(.62, .28, .23, .99);
            -webkit-animation-delay: .2s;
                    animation-delay: .2s;
            -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
        }
    }

    .widgetOpened {
        body,
        html {
            @media (max-width: @screen-xs-max) {
                overflow: hidden;
                position: relative;
                -webkit-overflow-scrolling: auto;
                max-height: 100%;
                height: 100%;
                width: 100%;
            }
        }
    }

    .widgetOpened .iframe {
        -webkit-animation: none;
                animation: none;
        width: @frame-width-md + @widget-box-shadow-width * 2;
        height: @frame-height-md + @widget-box-shadow-width * 2;
        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            width: @frame-width-lg + @widget-box-shadow-width * 2;
            height: @frame-height-lg + @widget-box-shadow-width * 2;
        }
        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            width: @frame-width-md + @widget-box-shadow-width * 2;
            height: @frame-height-md + @widget-box-shadow-width * 2;
        }
        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            width: @frame-width-sm + @widget-box-shadow-width * 2;
            height: @frame-height-sm + @widget-box-shadow-width * 2;
        }
        @media (max-width: @screen-xs-max) {
            width: @frame-width-xs;
            height: @frame-height-xs;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
}

@keyframes iframe-close-lg {
    0% {
        width: @widget-width-lg;
        height: @widget-height-lg;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@-webkit-keyframes iframe-close-lg {
    0% {
        width: @widget-width-lg;
        height: @widget-height-lg;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@keyframes iframe-close-md {
    0% {
        width: @widget-width-md;
        height: @widget-height-md;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@-webkit-keyframes iframe-close-md {
    0% {
        width: @widget-width-md;
        height: @widget-height-md;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@keyframes iframe-close-sm {
    0% {
        width: @widget-width-sm;
        height: @widget-height-sm;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@-webkit-keyframes iframe-close-sm {
    0% {
        width: @widget-width-sm;
        height: @widget-height-sm;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@keyframes iframe-close-xs {
    0% {
        width: @widget-width-xs;
        height: @widget-height-xs;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}

@-webkit-keyframes iframe-close-xs {
    0% {
        width: @widget-width-xs;
        height: @widget-height-xs;
    }
    100% {
        width: @messenger-button-size + @messenger-button-shadow-width * 2;
        height: @messenger-button-size + @widget-messenger-button-vertical-spacing + @messenger-button-shadow-width * 2;
    }
}
