{
  "env": {
    "host": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "transform-object-assign"
      ]
    },
    "frame": {
      "presets": [
        "env",
        "stage-2",
        "react"
      ],
      "plugins": [
        "transform-runtime",
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    }
  }
}
