{
    "env": {
        "host": {
            "presets": [
                ["env",   {
                    "useBuiltIns": true
                }],
                "stage-2"
            ],
            "plugins": [
                "transform-object-assign"
            ]
        },
        "frame": {
            "presets": [
                ["env",   {
                    "useBuiltIns": true
                }],
                "stage-2",
                "react"
            ],
            "plugins": [
                "transform-runtime",
                "transform-class-properties"
            ]
        },
        "test": {
            "presets": [
                "env",
                "stage-2",
                "react"
            ],
            "plugins": [
                "transform-runtime",
                "transform-class-properties",
                "rewire"
            ]
        }
    }
}
