node_modules
bower_components
*.log
build
tmp
dist/
grunt-aws.json
grunt-maxcdn.json
*.sublime-workspace
junit
config/*
!config/default
!config/default/*.json
example/*
!example/template
!example/template/*.html
