node_modules
bower_components
*.log
tmp
dist/
lib/
grunt-aws.json
grunt-maxcdn.json
*.sublime-workspace
junit
config/*
!config/build
!config/default
!config/default/*.json
example/*
!example/template
!example/template/*.html
npm-debug*
