@flag-width: 32px;
@flag-height: 24px;

.flag {
    background-image: ~"url(../images/flags.png)";
    background-size: @flag-width * 32 @flag-height * 8;
    width: @flag-width;
    height: @flag-height;
}

// Group 1
.ad {
    background-position: 0 0;
}
.ae {
    background-position: -@flag-width 0;
}
.af {
    background-position: -@flag-width * 2 0;
}
.ag {
    background-position: -@flag-width * 3 0;
}
.ai {
    background-position: -@flag-width * 4 0;
}
.al {
    background-position: -@flag-width * 5 0;
}
.am {
    background-position: -@flag-width * 6 0;
}
.ao {
    background-position: -@flag-width * 7 0;
}
.aq {
    background-position: -@flag-width * 8 0;
}
.ar {
    background-position: -@flag-width * 9 0;
}
.as {
    background-position: -@flag-width * 10 0;
}
.at {
    background-position: -@flag-width * 11 0;
}
.au {
    background-position: -@flag-width * 12 0;
}
.aw {
    background-position: -@flag-width * 13 0;
}
.ax {
    background-position: -@flag-width * 14 0;
}
.az {
    background-position: -@flag-width * 15 0;
}
.ba {
    background-position: -@flag-width * 16 0;
}
.bb {
    background-position: -@flag-width * 17 0;
}
.bd {
    background-position: -@flag-width * 18 0;
}
.be {
    background-position: -@flag-width * 19 0;
}
.bf {
    background-position: -@flag-width * 20 0;
}
.bg {
    background-position: -@flag-width * 21 0;
}
.bh {
    background-position: -@flag-width * 22 0;
}
.bi {
    background-position: -@flag-width * 23 0;
}
.bj {
    background-position: -@flag-width * 24 0;
}
.bl {
    background-position: -@flag-width * 25 0;
}
.bm {
    background-position: -@flag-width * 26 0;
}
.bn {
    background-position: -@flag-width * 27 0;
}
.bo {
    background-position: -@flag-width * 28 0;
}
.bq {
    background-position: -@flag-width * 29 0;
}
.br {
    background-position: -@flag-width * 30 0;
}
.bs {
    background-position: -@flag-width * 31 0;
}

// Group 2
.bt {
    background-position: 0 -@flag-height;
}
.bv {
    background-position: -@flag-width -@flag-height;
}
.bw {
    background-position: -@flag-width * 2 -@flag-height;
}
.by {
    background-position: -@flag-width * 3 -@flag-height;
}
.bz {
    background-position: -@flag-width * 4 -@flag-height;
}
.ca {
    background-position: -@flag-width * 5 -@flag-height;
}
.cc {
    background-position: -@flag-width * 6 -@flag-height;
}
.cd {
    background-position: -@flag-width * 7 -@flag-height;
}
.cf {
    background-position: -@flag-width * 8 -@flag-height;
}
.cg {
    background-position: -@flag-width * 9 -@flag-height;
}
.ch {
    background-position: -@flag-width * 10 -@flag-height;
}
.ci {
    background-position: -@flag-width * 11 -@flag-height;
}
.ck {
    background-position: -@flag-width * 12 -@flag-height;
}
.cl {
    background-position: -@flag-width * 13 -@flag-height;
}
.cm {
    background-position: -@flag-width * 14 -@flag-height;
}
.cn {
    background-position: -@flag-width * 15 -@flag-height;
}
.co {
    background-position: -@flag-width * 16 -@flag-height;
}
.cr {
    background-position: -@flag-width * 17 -@flag-height;
}
.cu {
    background-position: -@flag-width * 18 -@flag-height;
}
.cv {
    background-position: -@flag-width * 19 -@flag-height;
}
.cw {
    background-position: -@flag-width * 20 -@flag-height;
}
.cx {
    background-position: -@flag-width * 21 -@flag-height;
}
.cy {
    background-position: -@flag-width * 22 -@flag-height;
}
.cz {
    background-position: -@flag-width * 23 -@flag-height;
}
.de {
    background-position: -@flag-width * 24 -@flag-height;
}
.dj {
    background-position: -@flag-width * 25 -@flag-height;
}
.dk {
    background-position: -@flag-width * 26 -@flag-height;
}
.dm {
    background-position: -@flag-width * 27 -@flag-height;
}
.do {
    background-position: -@flag-width * 28 -@flag-height;
}
.dz {
    background-position: -@flag-width * 29 -@flag-height;
}
.ec {
    background-position: -@flag-width * 30 -@flag-height;
}
.ee {
    background-position: -@flag-width * 31 -@flag-height;
}

// Group 3
.eg {
    background-position: 0 -@flag-height * 2;
}
.eh {
    background-position: -@flag-width -@flag-height * 2;
}
.er {
    background-position: -@flag-width * 2 -@flag-height * 2;
}
.es {
    background-position: -@flag-width * 3 -@flag-height * 2;
}
.et {
    background-position: -@flag-width * 4 -@flag-height * 2;
}
.eu {
    background-position: -@flag-width * 5 -@flag-height * 2;
}
.fi {
    background-position: -@flag-width * 6 -@flag-height * 2;
}
.fj {
    background-position: -@flag-width * 7 -@flag-height * 2;
}
.fk {
    background-position: -@flag-width * 8 -@flag-height * 2;
}
.fm {
    background-position: -@flag-width * 9 -@flag-height * 2;
}
.fo {
    background-position: -@flag-width * 10 -@flag-height * 2;
}
.fr {
    background-position: -@flag-width * 11 -@flag-height * 2;
}
.ga {
    background-position: -@flag-width * 12 -@flag-height * 2;
}
.gb-eng {
    background-position: -@flag-width * 13 -@flag-height * 2;
}
.gb-nir {
    background-position: -@flag-width * 14 -@flag-height * 2;
}
.gb-sct {
    background-position: -@flag-width * 15 -@flag-height * 2;
}
.gb-wls {
    background-position: -@flag-width * 16 -@flag-height * 2;
}
.gb {
    background-position: -@flag-width * 17 -@flag-height * 2;
}
.gd {
    background-position: -@flag-width * 18 -@flag-height * 2;
}
.ge {
    background-position: -@flag-width * 19 -@flag-height * 2;
}
.gf {
    background-position: -@flag-width * 20 -@flag-height * 2;
}
.gg {
    background-position: -@flag-width * 21 -@flag-height * 2;
}
.gh {
    background-position: -@flag-width * 22 -@flag-height * 2;
}
.gi {
    background-position: -@flag-width * 23 -@flag-height * 2;
}
.gl {
    background-position: -@flag-width * 24 -@flag-height * 2;
}
.gm {
    background-position: -@flag-width * 25 -@flag-height * 2;
}
.gn {
    background-position: -@flag-width * 26 -@flag-height * 2;
}
.gp {
    background-position: -@flag-width * 27 -@flag-height * 2;
}
.gq {
    background-position: -@flag-width * 28 -@flag-height * 2;
}
.gr {
    background-position: -@flag-width * 29 -@flag-height * 2;
}
.gs {
    background-position: -@flag-width * 30 -@flag-height * 2;
}
.gt {
    background-position: -@flag-width * 31 -@flag-height * 2;
}

// Group 4
.gu {
    background-position: 0 -@flag-height * 3;
}
.gw {
    background-position: -@flag-width -@flag-height * 3;
}
.gy {
    background-position: -@flag-width * 2 -@flag-height * 3;
}
.hk {
    background-position: -@flag-width * 3 -@flag-height * 3;
}
.hm {
    background-position: -@flag-width * 4 -@flag-height * 3;
}
.hn {
    background-position: -@flag-width * 5 -@flag-height * 3;
}
.hr {
    background-position: -@flag-width * 6 -@flag-height * 3;
}
.ht {
    background-position: -@flag-width * 7 -@flag-height * 3;
}
.hu {
    background-position: -@flag-width * 8 -@flag-height * 3;
}
.id {
    background-position: -@flag-width * 9 -@flag-height * 3;
}
.ie {
    background-position: -@flag-width * 10 -@flag-height * 3;
}
.il {
    background-position: -@flag-width * 11 -@flag-height * 3;
}
.im {
    background-position: -@flag-width * 12 -@flag-height * 3;
}
.in {
    background-position: -@flag-width * 13 -@flag-height * 3;
}
.io {
    background-position: -@flag-width * 14 -@flag-height * 3;
}
.iq {
    background-position: -@flag-width * 15 -@flag-height * 3;
}
.ir {
    background-position: -@flag-width * 16 -@flag-height * 3;
}
.is {
    background-position: -@flag-width * 17 -@flag-height * 3;
}
.it {
    background-position: -@flag-width * 18 -@flag-height * 3;
}
.je {
    background-position: -@flag-width * 19 -@flag-height * 3;
}
.jm {
    background-position: -@flag-width * 20 -@flag-height * 3;
}
.jo {
    background-position: -@flag-width * 21 -@flag-height * 3;
}
.jp {
    background-position: -@flag-width * 22 -@flag-height * 3;
}
.ke {
    background-position: -@flag-width * 23 -@flag-height * 3;
}
.kg {
    background-position: -@flag-width * 24 -@flag-height * 3;
}
.kh {
    background-position: -@flag-width * 25 -@flag-height * 3;
}
.ki {
    background-position: -@flag-width * 26 -@flag-height * 3;
}
.km {
    background-position: -@flag-width * 27 -@flag-height * 3;
}
.kn {
    background-position: -@flag-width * 28 -@flag-height * 3;
}
.kp {
    background-position: -@flag-width * 29 -@flag-height * 3;
}
.kr {
    background-position: -@flag-width * 30 -@flag-height * 3;
}
.kw {
    background-position: -@flag-width * 31 -@flag-height * 3;
}

// Group 5
.ky {
    background-position: 0 -@flag-height * 4;
}
.kz {
    background-position: -@flag-width -@flag-height * 4;
}
.la {
    background-position: -@flag-width * 2 -@flag-height * 4;
}
.lb {
    background-position: -@flag-width * 3 -@flag-height * 4;
}
.lc {
    background-position: -@flag-width * 4 -@flag-height * 4;
}
.li {
    background-position: -@flag-width * 5 -@flag-height * 4;
}
.lk {
    background-position: -@flag-width * 6 -@flag-height * 4;
}
.lr {
    background-position: -@flag-width * 7 -@flag-height * 4;
}
.ls {
    background-position: -@flag-width * 8 -@flag-height * 4;
}
.lt {
    background-position: -@flag-width * 9 -@flag-height * 4;
}
.lu {
    background-position: -@flag-width * 10 -@flag-height * 4;
}
.lv {
    background-position: -@flag-width * 11 -@flag-height * 4;
}
.ly {
    background-position: -@flag-width * 12 -@flag-height * 4;
}
.ma {
    background-position: -@flag-width * 13 -@flag-height * 4;
}
.mc {
    background-position: -@flag-width * 14 -@flag-height * 4;
}
.md {
    background-position: -@flag-width * 15 -@flag-height * 4;
}
.me {
    background-position: -@flag-width * 16 -@flag-height * 4;
}
.mf {
    background-position: -@flag-width * 17 -@flag-height * 4;
}
.mg {
    background-position: -@flag-width * 18 -@flag-height * 4;
}
.mh {
    background-position: -@flag-width * 19 -@flag-height * 4;
}
.mk {
    background-position: -@flag-width * 20 -@flag-height * 4;
}
.ml {
    background-position: -@flag-width * 21 -@flag-height * 4;
}
.mm {
    background-position: -@flag-width * 22 -@flag-height * 4;
}
.mn {
    background-position: -@flag-width * 23 -@flag-height * 4;
}
.mo {
    background-position: -@flag-width * 24 -@flag-height * 4;
}
.mp {
    background-position: -@flag-width * 25 -@flag-height * 4;
}
.mq {
    background-position: -@flag-width * 26 -@flag-height * 4;
}
.mr {
    background-position: -@flag-width * 27 -@flag-height * 4;
}
.ms {
    background-position: -@flag-width * 28 -@flag-height * 4;
}
.mt {
    background-position: -@flag-width * 29 -@flag-height * 4;
}
.mu {
    background-position: -@flag-width * 30 -@flag-height * 4;
}
.mv {
    background-position: -@flag-width * 31 -@flag-height * 4;
}

// Group 6
.mw {
    background-position: 0 -@flag-height * 5;
}
.mx {
    background-position: -@flag-width -@flag-height * 5;
}
.my {
    background-position: -@flag-width * 2 -@flag-height * 5;
}
.mz {
    background-position: -@flag-width * 3 -@flag-height * 5;
}
.na {
    background-position: -@flag-width * 4 -@flag-height * 5;
}
.nc {
    background-position: -@flag-width * 5 -@flag-height * 5;
}
.ne {
    background-position: -@flag-width * 6 -@flag-height * 5;
}
.nf {
    background-position: -@flag-width * 7 -@flag-height * 5;
}
.ng {
    background-position: -@flag-width * 8 -@flag-height * 5;
}
.ni {
    background-position: -@flag-width * 9 -@flag-height * 5;
}
.nl {
    background-position: -@flag-width * 10 -@flag-height * 5;
}
.no {
    background-position: -@flag-width * 11 -@flag-height * 5;
}
.np {
    background-position: -@flag-width * 12 -@flag-height * 5;
}
.nr {
    background-position: -@flag-width * 13 -@flag-height * 5;
}
.nu {
    background-position: -@flag-width * 14 -@flag-height * 5;
}
.nz {
    background-position: -@flag-width * 15 -@flag-height * 5;
}
.om {
    background-position: -@flag-width * 16 -@flag-height * 5;
}
.pa {
    background-position: -@flag-width * 17 -@flag-height * 5;
}
.pe {
    background-position: -@flag-width * 18 -@flag-height * 5;
}
.pf {
    background-position: -@flag-width * 19 -@flag-height * 5;
}
.pg {
    background-position: -@flag-width * 20 -@flag-height * 5;
}
.ph {
    background-position: -@flag-width * 21 -@flag-height * 5;
}
.pk {
    background-position: -@flag-width * 22 -@flag-height * 5;
}
.pl {
    background-position: -@flag-width * 23 -@flag-height * 5;
}
.pm {
    background-position: -@flag-width * 24 -@flag-height * 5;
}
.pn {
    background-position: -@flag-width * 25 -@flag-height * 5;
}
.pr {
    background-position: -@flag-width * 26 -@flag-height * 5;
}
.ps {
    background-position: -@flag-width * 27 -@flag-height * 5;
}
.pt {
    background-position: -@flag-width * 28 -@flag-height * 5;
}
.pw {
    background-position: -@flag-width * 29 -@flag-height * 5;
}
.py {
    background-position: -@flag-width * 30 -@flag-height * 5;
}
.qa {
    background-position: -@flag-width * 31 -@flag-height * 5;
}

// Group 7
.re {
    background-position: 0 -@flag-height * 6;
}
.ro {
    background-position: -@flag-width -@flag-height * 6;
}
.rs {
    background-position: -@flag-width * 2 -@flag-height * 6;
}
.ru {
    background-position: -@flag-width * 3 -@flag-height * 6;
}
.rw {
    background-position: -@flag-width * 4 -@flag-height * 6;
}
.sa {
    background-position: -@flag-width * 5 -@flag-height * 6;
}
.sb {
    background-position: -@flag-width * 6 -@flag-height * 6;
}
.sc {
    background-position: -@flag-width * 7 -@flag-height * 6;
}
.sd {
    background-position: -@flag-width * 8 -@flag-height * 6;
}
.se {
    background-position: -@flag-width * 9 -@flag-height * 6;
}
.sg {
    background-position: -@flag-width * 10 -@flag-height * 6;
}
.sh {
    background-position: -@flag-width * 11 -@flag-height * 6;
}
.si {
    background-position: -@flag-width * 12 -@flag-height * 6;
}
.sj {
    background-position: -@flag-width * 13 -@flag-height * 6;
}
.sk {
    background-position: -@flag-width * 14 -@flag-height * 6;
}
.sl {
    background-position: -@flag-width * 15 -@flag-height * 6;
}
.sm {
    background-position: -@flag-width * 16 -@flag-height * 6;
}
.sn {
    background-position: -@flag-width * 17 -@flag-height * 6;
}
.so {
    background-position: -@flag-width * 18 -@flag-height * 6;
}
.sr {
    background-position: -@flag-width * 19 -@flag-height * 6;
}
.ss {
    background-position: -@flag-width * 20 -@flag-height * 6;
}
.st {
    background-position: -@flag-width * 21 -@flag-height * 6;
}
.sv {
    background-position: -@flag-width * 22 -@flag-height * 6;
}
.sx {
    background-position: -@flag-width * 23 -@flag-height * 6;
}
.sy {
    background-position: -@flag-width * 24 -@flag-height * 6;
}
.sz {
    background-position: -@flag-width * 25 -@flag-height * 6;
}
.tc {
    background-position: -@flag-width * 26 -@flag-height * 6;
}
.td {
    background-position: -@flag-width * 27 -@flag-height * 6;
}
.tf {
    background-position: -@flag-width * 28 -@flag-height * 6;
}
.tg {
    background-position: -@flag-width * 29 -@flag-height * 6;
}
.th {
    background-position: -@flag-width * 30 -@flag-height * 6;
}
.tj {
    background-position: -@flag-width * 31 -@flag-height * 6;
}

// Group 8
.tk {
    background-position: 0 -@flag-height * 7;
}
.tl {
    background-position: -@flag-width -@flag-height * 7;
}
.tm {
    background-position: -@flag-width * 2 -@flag-height * 7;
}
.tn {
    background-position: -@flag-width * 3 -@flag-height * 7;
}
.to {
    background-position: -@flag-width * 4 -@flag-height * 7;
}
.tr {
    background-position: -@flag-width * 5 -@flag-height * 7;
}
.tt {
    background-position: -@flag-width * 6 -@flag-height * 7;
}
.tv {
    background-position: -@flag-width * 7 -@flag-height * 7;
}
.tw {
    background-position: -@flag-width * 8 -@flag-height * 7;
}
.tz {
    background-position: -@flag-width * 9 -@flag-height * 7;
}
.ua {
    background-position: -@flag-width * 10 -@flag-height * 7;
}
.ug {
    background-position: -@flag-width * 11 -@flag-height * 7;
}
.um {
    background-position: -@flag-width * 12 -@flag-height * 7;
}
.un {
    background-position: -@flag-width * 13 -@flag-height * 7;
}
.us {
    background-position: -@flag-width * 14 -@flag-height * 7;
}
.uy {
    background-position: -@flag-width * 15 -@flag-height * 7;
}
.uz {
    background-position: -@flag-width * 16 -@flag-height * 7;
}
.va {
    background-position: -@flag-width * 17 -@flag-height * 7;
}
.vc {
    background-position: -@flag-width * 18 -@flag-height * 7;
}
.ve {
    background-position: -@flag-width * 19 -@flag-height * 7;
}
.vg {
    background-position: -@flag-width * 20 -@flag-height * 7;
}
.vi {
    background-position: -@flag-width * 21 -@flag-height * 7;
}
.vn {
    background-position: -@flag-width * 22 -@flag-height * 7;
}
.vu {
    background-position: -@flag-width * 23 -@flag-height * 7;
}
.wf {
    background-position: -@flag-width * 24 -@flag-height * 7;
}
.ye {
    background-position: -@flag-width * 25 -@flag-height * 7;
}
.ws {
    background-position: -@flag-width * 26 -@flag-height * 7;
}
.yt {
    background-position: -@flag-width * 27 -@flag-height * 7;
}
.za {
    background-position: -@flag-width * 28 -@flag-height * 7;
}
.zm {
    background-position: -@flag-width * 29 -@flag-height * 7;
}
.zw {
    background-position: -@flag-width * 30 -@flag-height * 7;
}
.zz {
    background-position: -@flag-width * 31 -@flag-height * 7;
}
