&.sk-appear {
    .sk-appear-hidden {
        display: none;
    }

    .sk-appear-visible {
        display: block;
    }
}

&.sk-close {
    .sk-close-hidden {
        display: none;
    }

    .sk-close-visible {
        display: block;
    }
}
