<!-- The following line is essential for the "position: fixed" property to work correctly in IE -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Conversation Demo</title>
    <script src="../dist/WIDGET_CODE"></script>
    <script>
        /* global SupportKit: false */

        SupportKit.init({
            appToken: 'APP_TOKEN',
            givenName: 'GIVEN_NAME',
            surname: 'SURNAME',
            email: 'EMAIL',
            jwt: 'JWT',
            userId: 'USER_ID',
            properties: {
              'TEST': true
            },
            emailCaptureEnabled: true
        });
    </script>
</head>
  <body>
    <h1>Test</h1>
    <button onclick="SupportKit.logout(); document.location.reload(true);">Log Out</button>
  </body>
</html>
