.sk-badge-display {
    transition: all .2s ease-in-out;
    #sk-wrapper {
        transform: scale(0, 0);
    }
}

.sk-appear {

    &.sk-badge-display {
        bottom: @widget-vertical-spacing;
        #sk-wrapper {
            transform: scale(1, 1);
        }
    }

    &.sk-tab-display {
        bottom: @widget-vertical-spacing;

        -webkit-animation: sk-appear-frames-md .4s cubic-bezier(.62, .28, .23, .99);
                animation: sk-appear-frames-md .4s cubic-bezier(.62, .28, .23, .99);
        -webkit-animation-delay: .0s;
                animation-delay: .0s;

        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            -webkit-animation: sk-appear-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-appear-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-sm-ht-max) {
            -webkit-animation: sk-appear-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-appear-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
        }

        // Mobile
        @media (max-width: @screen-xs-max) {
            bottom: 0;
            -webkit-animation: sk-appear-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-appear-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
        }
    }
}

@-webkit-keyframes sk-appear-frames-md {
    0% {
        bottom: @widget-close-bottom-md;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}
@keyframes sk-appear-frames-md {
    0% {
        bottom: @widget-close-bottom-md;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}

@-webkit-keyframes sk-appear-frames-lg {
    0% {
        bottom: @widget-close-bottom-lg;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}
@keyframes sk-appear-frames-lg {
    0% {
        bottom: @widget-close-bottom-lg;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}

@-webkit-keyframes sk-appear-frames-sm {
    0% {
        bottom: @widget-close-bottom-sm;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}
@keyframes sk-appear-frames-sm {
    0% {
        bottom: @widget-close-bottom-sm;
    }
    100% {
        bottom: @widget-vertical-spacing;
    }
}

@-webkit-keyframes sk-appear-frames-xs {
    0% {
        bottom: @widget-close-bottom-xs;
    }
    100% {
        bottom: 0;
    }
}
@keyframes sk-appear-frames-xs {
    0% {
        bottom: @widget-close-bottom-xs;
    }
    100% {
        bottom: 0;
    }
}

.sk-close {

    &.sk-badge-display {
        bottom: -@widget-height-md;
        #sk-wrapper {
            transform: scale(0, 0);
        }
    }

    &.sk-tab-display {
        bottom: @widget-close-bottom-md;

        -webkit-animation: sk-close-frames-md .4s cubic-bezier(.62, .28, .23, .99);
                animation: sk-close-frames-md .4s cubic-bezier(.62, .28, .23, .99);
        -webkit-animation-delay: .0s;
                animation-delay: .0s;

        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: @widget-close-bottom-lg;
            -webkit-animation: sk-close-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-close-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-sm-ht-min) {
            bottom: @widget-close-bottom-sm;
            -webkit-animation: sk-close-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-close-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
        }

        // Mobile
        @media (max-width: @screen-sm-min) {
            bottom: @widget-close-bottom-xs;
            -webkit-animation: sk-close-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
                    animation: sk-close-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
        }

    }
}
@-webkit-keyframes sk-close-frames-md {
    0% {
        bottom: @widget-vertical-spacing;

    }
    100% {
        bottom: @widget-close-bottom-md;
    }
}
@keyframes sk-close-frames-md {
    0% {
        bottom: @widget-vertical-spacing;
    }
    100% {
        bottom: @widget-close-bottom-md;
    }
}

@-webkit-keyframes sk-close-frames-lg {
    0% {
        bottom: @widget-vertical-spacing;

    }
    100% {
        bottom: @widget-close-bottom-lg;
    }
}
@keyframes sk-close-frames-lg {
    0% {
        bottom: @widget-vertical-spacing;
    }
    100% {
        bottom: @widget-close-bottom-lg;
    }
}

@-webkit-keyframes sk-close-frames-sm {
    0% {
        bottom: @widget-vertical-spacing;
    }
    100% {
        bottom: @widget-close-bottom-sm;
    }
}
@keyframes sk-close-frames-sm {
    0% {
        bottom: @widget-vertical-spacing;
    }
    100% {
        bottom: @widget-close-bottom-sm;
    }
}

@-webkit-keyframes sk-close-frames-xs {
    0% {
        bottom: 0;
    }
    100% {
        bottom: @widget-close-bottom-xs;
    }
}
@keyframes sk-close-frames-xs {
    0% {
        bottom: 0;
    }
    100% {
        bottom: @widget-close-bottom-xs;
    }
}

.sk-noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}

.sk-init {
    &.sk-badge-display {
        bottom: -@widget-height-md;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: -@widget-height-lg;
        }

        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            bottom: -@widget-height-md;
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            bottom: -@widget-height-sm;
        }

        // Mobiles
        @media (max-width: @screen-sm-min) {
            bottom: -@widget-height-xs;
        }
    }

    &.sk-tab-display {
        bottom: @widget-close-bottom-md;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: @widget-close-bottom-lg;
        }

        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            bottom: @widget-close-bottom-md;
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            bottom: @widget-close-bottom-sm;
        }

        // Mobiles
        @media (max-width: @screen-sm-min) {
            bottom: @widget-close-bottom-xs;
        }
    }
}
