.sk-badge-display {
    transform-origin: bottom right;
    bottom: @widget-vertical-spacing;

    &.sk-appear {
        opacity: 0;
        animation: sk-appear-badge-frames .4s cubic-bezier(.62, .28, .23, .99);
        animation-delay: .2s;
        animation-fill-mode: forwards;

        @media (max-width: @screen-sm-min) {
            bottom: 0;
        }
    }

    &.sk-close {
        animation: sk-close-badge-frames .4s cubic-bezier(.62, .28, .23, .99);
        animation-delay: .0s;
        animation-fill-mode: forwards;
    }

    &.sk-init {
        transform: scale(0, 0);
        opacity: 0;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: -@widget-height-lg;
        }

        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            bottom: -@widget-height-md;
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            bottom: -@widget-height-sm;
        }

        // Mobiles
        @media (max-width: @screen-sm-min) {
            bottom: -@widget-height-xs;
        }
    }

    @keyframes sk-appear-badge-frames {
        0% {
            opacity: 0;
            transform: scale(0, 0);
        }
        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }

    @keyframes sk-close-badge-frames {
        0% {
            opacity: 1;
            transform: scale(1, 1);
        }
        100% {
            opacity: 0;
            transform: scale(0, 0);
        }
    }
}

.sk-tab-display {
    &.sk-appear {
        bottom: @widget-vertical-spacing;

        animation: sk-appear-tab-frames-md .4s cubic-bezier(.62, .28, .23, .99);
        animation-delay: .0s;
        animation-fill-mode: forwards;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            animation: sk-appear-tab-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-sm-ht-max) {
            animation: sk-appear-tab-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
        }

        // Mobile
        @media (max-width: @screen-xs-max) {
            bottom: 0;
            animation: sk-appear-tab-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
        }
    }

    &.sk-close {
        bottom: @widget-close-bottom-md;

            animation: sk-close-frames-md .4s cubic-bezier(.62, .28, .23, .99);
            animation-delay: .0s;
            animation-fill-mode: forwards;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: @widget-close-bottom-lg;
            animation: sk-close-frames-lg .4s cubic-bezier(.62, .28, .23, .99);
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-sm-ht-min) {
            bottom: @widget-close-bottom-sm;
            animation: sk-close-frames-sm .4s cubic-bezier(.62, .28, .23, .99);
        }

        // Mobile
        @media (max-width: @screen-sm-min) {
            bottom: @widget-close-bottom-xs;
            animation: sk-close-frames-xs .4s cubic-bezier(.62, .28, .23, .99);
        }
    }

    &.sk-init {
        bottom: @widget-close-bottom-md;

        @media (min-width: @screen-lg-min) and (min-height: @screen-md-ht-min) {
            bottom: @widget-close-bottom-lg;
        }

        @media (min-width: @screen-sm-min) and (min-height: @screen-sm-ht-min) and (max-height: @screen-sm-ht-max) {
            bottom: @widget-close-bottom-md;
        }

        @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
            bottom: @widget-close-bottom-sm;
        }

        // Mobiles
        @media (max-width: @screen-sm-min) {
            bottom: @widget-close-bottom-xs;
        }
    }

    @keyframes sk-appear-tab-frames-md {
        0% {
            bottom: @widget-close-bottom-md;
        }
        100% {
            bottom: @widget-vertical-spacing;
        }
    }

    @keyframes sk-appear-tab-frames-lg {
        0% {
            bottom: @widget-close-bottom-lg;
        }
        100% {
            bottom: @widget-vertical-spacing;
        }
    }

    @keyframes sk-appear-tab-frames-sm {
        0% {
            bottom: @widget-close-bottom-sm;
        }
        100% {
            bottom: @widget-vertical-spacing;
        }
    }

    @keyframes sk-appear-tab-frames-xs {
        0% {
            bottom: @widget-close-bottom-xs;
        }
        100% {
            bottom: 0;
        }
    }

    @keyframes sk-close-frames-md {
        0% {
            bottom: @widget-vertical-spacing;
        }
        100% {
            bottom: @widget-close-bottom-md;
        }
    }

    @keyframes sk-close-frames-lg {
        0% {
            bottom: @widget-vertical-spacing;
        }
        100% {
            bottom: @widget-close-bottom-lg;
        }
    }

    @keyframes sk-close-frames-sm {
        0% {
            bottom: @widget-vertical-spacing;
        }
        100% {
            bottom: @widget-close-bottom-sm;
        }
    }

    @keyframes sk-close-frames-xs {
        0% {
            bottom: 0;
        }
        100% {
            bottom: @widget-close-bottom-xs;
        }
    }
}

.sk-noselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
     -khtml-user-select: none;
}
