.sk-badge {
    position: fixed;
    right: -@badge-size;
    bottom: -@badge-size;
    transition: all .2s cubic-bezier(.62, .28, .23, .99);
    opacity: 0;

    height: @badge-size;
    width: @badge-size;

    border-radius: 50%;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    z-index: 9998; // 1 less than Stripe Checkout
    overflow: hidden;

    cursor: pointer;

    &.shown {
        right: @widget-horizontal-spacing;
        bottom: @widget-badge-vertical-spacing;
        opacity: 1;
    }

    .default-icon {
        width: 55%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50%;
    }
}
