@import "telephone-input";

.sk-channel {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: white;
    overflow: hidden;
    opacity: 1;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;

    &.sk-channel-visible {
        .transition(width 250ms);
        width: 100%;
    }

    &.sk-channel-hidden {
        .transition(width 250ms);
        width: 0;
    }

    .content-wrapper {
        padding: @widget-padding-channel @widget-padding-channel;
    }

    .channel-header {
        .channel-icon, .channel-name {
            @media (max-height: 400px) and (max-width: @screen-sm-min) {
                display: none;
            }
        }

        .channel-icon {
            margin-bottom: 40px;
            height: 65px;

            @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
                margin-bottom: 20px;
            }
        }
        .channel-name {
            font-size: 18px;
            color: @settings-header-color;
            font-weight: 600;
            margin-bottom: 10px;
        }
        .channel-description {
            margin-bottom: 20px;
            color: @sk-base-text-color;
        }
    }

    .channel-content {
        a, a:visited {
            color: @sk-blue;

            &.sk-error-link {
                color: @brand-danger;
                cursor: pointer;
            }
        }

        .channel-content-value {
            font-weight: 600;
            color: @settings-header-color;
        }

        .btn {
            width: 150px;
            border-radius: 20px;
        }
    }

    .sk-fb-button-wrapper {
        text-align: left;
        // -76px is half the width of the 'Send to Messenger' button
        transform: translateX(-76px);
        margin-left: 50%;
    }
}

.twilio-linking {

        .phone-number {
            padding-right: 10px;
            padding-left: 10px;
        }

        .warning-message {
            font-size: 13px;
            color: red;
        }

        a {
            font-size: smaller;
            text-decoration: underline;
            float: right;
            padding-right: 3px;
            cursor: pointer;
        }

        .btn {
            margin-top: 25px;
            text-align: center;
            border: 0px;

            // Prevent button from going off the widget chat on
            // small screens
            @media (min-width: @screen-sm-min) and (max-height: @screen-xs-ht-max) {
                margin-top: 10px;
            }
        }

        &.btn {
            margin-top: 25px;
        }

        &.pending-state {
            border-bottom: #e4e4e4 1px solid;
            text-align: left;
            padding-left: 5px;

            .phone-number {
                color: darkgray;
            }
        }

        &.linked-state {
            border-bottom: #e4e4e4 1px solid;
            text-align: left;
            padding-left: 5px;
        }
}
