#sk-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: @footer-height;

    .input-wrapper {
        min-height: @footer-height;
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        padding-left: 20px;
        border: none;
        box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
        background-color: white;
        z-index: 1;
        display: -ms-flexbox;; // for IE10
        display: flex;

        .image-upload {
            color: @sk-medium-grey;
            font-size: @font-size-base;
            line-height: @font-size-base;
            font-weight: 600;
            position: relative;
            height: @footer-height;
            text-decoration: none;
            padding: 0 15px 1px 6px;
            cursor: pointer;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
                color: #00aeff;
            }
        }

        input[type="file"] {
            position: fixed;
            top: -1000px;
        }

        form {
            flex: 1;
            -ms-flex: 1; // for IE10
            display: inline-block;
        }

        .input-container {
            padding: 5px 0;
            display: block;
            height: 100%;

            &.no-upload {
                padding: 5px 0 5px @input-horizontal-margin;
            }

            .message-input {
                position: absolute;
                top: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                resize: none;
                width: 84%;
                height: 95%;
                font-size: @font-size-base;
                -webkit-appearance: none;
                overflow: hidden;

                &::-ms-clear {
                    display: none;
                }

                &:-ms-input-placeholder {
                    color: @sk-medium-grey;
                }
            }

            .bg-input {
                opacity: 0;
                font-size: @font-size-base;
                margin-bottom: -5px;
                padding-top: 15px;
                padding-bottom: 15px;
                width: 98%;
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: break-word;
                overflow: hidden;
            }
        }

        .send {
            color: @sk-medium-grey;
            font-weight: 600;
            position: relative;
            height: @footer-height;
            line-height: 42px;
            text-decoration: none;
            padding: 0 17px 1px 6px;
            cursor: pointer;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            font-size: @font-size-base;

            &.active {
                color: @sk-blue;

                &:hover {
                    .opacity(0.8);
                }
            }
        }
    }
}
