#sk-footer {
    width: 100%;
    height: @footer-height;
    bottom: 0;
    left: 0;
    border: none;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1;

    .message-input {
        background-color: #fbfbfb;
        color: #bdbdbd;
        border: 1px solid #e8e8e8;
        margin: 5px 9px;
        padding: 0 9px;
        border-radius: 4px 4px 4px 4px;
        height: 33px;
        width: 75%;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;

        &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
            color: #00aeff;
            opacity: 1;
        }

        &:focus {
            background-color: white;
            color: #212121;
            outline: 0;
        }
    }
    .send {
        margin-top: 1px;
        right: 0px;
        color: #b2b2b2;
        font-weight: 600;
        position: absolute;
        height: 40px;
        line-height: 42px;
        text-decoration: none;
        padding: 0 10px;

        &:hover {
            color: #00aeff;
        }
    }
}