#sk-header {
    z-index: 1;
    height: @header-height;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: @header-padding 18px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
}
#sk-badge {
    background-color: #e74c3c;
    border-radius: 100px;
    box-shadow: 0 0 0 1px #cf2615;
    color: white;
    position: absolute;
    top: 11px;
    left: 10px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
#sk-handle {
    position: absolute;
    top: 6px;
    right: 10px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    color: #808080;
    font-size: 20px;
}