#sk-header {
    height: @header-height;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: @header-padding 18px;
    position: relative;
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
}
#sk-badge {
    background-color: #e74c3c;
    border-radius: 100px;
    box-shadow: 0 0 0 1px #cf2615;
    color: #fff;
    position: absolute;
    top: 11px;
    left: 10px;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
#sk-handle {
    position: absolute;
    top: 6px;
    right: 10px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    color: #808080;
    font-size: 20px;
}