.header() {
    box-shadow: 0 4px 23px 0px rgba(57, 57, 57, 0.26);
    position: relative; // necessary for correct display of the box-shadow
    z-index: 2;

    @media (max-width: @screen-sm-min) {
        border-radius: 0;
    }

    .fa {
        line-height: 28px;
        color: @header-default-text-color;
        font-size: 15px;
    }

    .sk-close-handle {
        display: none;
        cursor: pointer;
        position: absolute;
        top: @header-vertical-padding;
        right: 12px;

        .fa {
           font-size: 17px;
        }
    }

    .sk-back-handle {
        cursor: pointer;
        display: inline-block;
        margin-right: 8px;
        height: 30px;
    }

    .settings-content {
        display: inline-block;
        height: @header-extra-height;
        margin-top: -@header-vertical-padding;
        margin-left: -@header-horizontal-padding;

        & > div {
            margin-top: @header-vertical-padding;
            margin-left: @header-horizontal-padding;
        }
    }
}

#sk-header {
    .header();
    text-align: center;
}

#sk-badge {
    position: absolute;
    top: 11px;
    left: 10px;
}

#sk-settings-handle  {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 27px;
    width: 25px;
    display: none;
}

&.sk-appear {
    #sk-settings-handle {
        display: block;
    }
}

#sk-settings-header {
    .header();
}


.sk-branding-color-dark {
    #sk-header, #sk-settings-header {
        &, .fa {
            color: #fff;
        }
    }
}

.sk-intro-section {
    background-color: #F8F9FA;
    padding: @intro-padding-bottom @intro-padding;
    min-height: @intro-icon-size + @intro-padding + @intro-padding-bottom;

    height: @header-height;

    display: flex;
    align-items: center;

    .text-column {
        text-align: left;
        margin-left: 15px;

        .app-name {
            color: #464646;
            font-size: 13px;
            font-weight: normal;
        }

        .intro-text {
            color: @sk-base-text-color;
            font-size: 17px;
            line-height: 1.4;
            margin-top: 2px;
        }
    }

    .app-icon {
        width: @intro-icon-size;
        height: @intro-icon-size;
        border-radius: 50%;
    }

    .available-channels {
        margin-top: 22px;
        text-align: center;
        color: @sk-base-text-color;

        .channel-icon {
            cursor: pointer;
            margin-right: 13px;

            &:last-child {
               margin-right: 0;
            }
        }
    }
}
