.sk-notifications {
    width: 100%;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 1;

    p {
        margin: 18px;
    }
}