.sk-settings {
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 2;
    background-color: white;
    overflow: hidden;
    opacity: 1;
    font-size: 13px;
    width: @widget-width-md;
    height: @widget-height-md;
    @media (min-width: @screen-lg-min) {
        width: @widget-width-lg;
        height: @widget-height-lg;
    }
    @media (max-width: @screen-sm-min) {
        width: @widget-width-sm;
        height: @widget-height-sm;
    }

    .settings-wrapper {
        padding: 20px;
        box-sizing: border-box;

        .input-group {
            position: relative;

            i.before-icon {
                color: #bdbdbd;
                position: absolute;
                top: 16px;
                left: 11px;
            }

            .email-input {
                box-sizing: border-box;
                padding: 0 @input-horizontal-padding 0 30px;
                width: 100%;
            }

            .form-message {
                .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
                vertical-align: middle;

                i.success {
                    color: @brand-success;
                }
            }
        }

        .settings-header {
            font-weight: 700;
            margin-bottom: 5px;
        }

    }

    &.settings-enter {
        width: 0;
    }

    &.settings-enter-active {
        .transition(width 250ms);
        width: 100%;
    }

    &.settings-leave {
        width: 100%;
    }

    &.settings-leave-active {
        .transition(width 250ms);
        width: 0;
    }

    .channels {
        margin-top: 25px;

        .channel-item {
            cursor: pointer;

            .channel-item-header {
                position: relative;
                .channel-item-icon {
                    width: 30px;
                    display: inline-block;
                    vertical-align: middle;
                }

                .channel-item-name {
                    display: inline-block;
                    height: 30px;
                    margin-left: 10px;
                    line-height: 30px;
                    border-bottom: 1px solid rgba(0,0,0,0.1);
                    width: calc(~"100% - 30px - 10px");
                }
                .channel-item-right {
                    position: absolute;
                    right: 0;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                }
            }
            .channel-item-content {
                height: 0;
                overflow: hidden;
                background-color: rgba(0,0,0,0.1);
                position: relative;
                margin-top: 5px;

                .channel-item-close-link {
                    font-size: 11px;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                }
            }
        }
    }
}
