#sk-settings {
    position: absolute;
    height: 100%;
    z-index: 2;
    background-color: white;
    overflow: hidden;


    .settings-wrapper {
        width: 310px;
        padding: 10px;


        .input-group {
            position: relative;

            color: #bdbdbd;

            i {
                position: absolute;
                top: 16px;
                left: 20px;
            }

            .email-input {
                .input();
                padding: 0 @input-horizontal-padding 0 30px;
                width: 310px - 2 * @input-horizontal-margin - 2 * @input-horizontal-padding - 21px;
            }
        }
    }
}