#sk-container{
	width:300px;
	height:400px;
	position:fixed;
	bottom:0;
	right:40px;
	margin-bottom:-1px;
	border:1px solid rgba(0,0,0,0.15);
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight:400;
	font-size:13px;
	line-height:1.4;
	border-radius:4px 4px 0 0;
	text-rendering: optimizeLegibility;
	color:#333;
}
#sk-wrapper{
	width:300px;
	height:400px;
	position:relative;
}
#sk-header{
	height:28px;
	line-height:28px;
	text-align:center;
	font-size:16px;
	font-weight:300;
	padding:6px 18px;
	position:relative;
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.05), inset 0 -1px 0 rgba(0,0,0,0.05);
	background-color:#f8f8f8;
}
#sk-conversation{
	padding:18px 18px;
	height:284px;
	overflow-y:scroll;
}
/* WebKit hack */
#sk-conversation:not(*:root) {
	margin-right:3px;
}
#sk-footer {
	width:300px;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
	border:none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0 1px 0 rgba(0,0,0,0.15);
}
#sk-footer input{
	padding:0 12px;
	height:40px;
	border:none;
	width:221px;
	background-color:transparent;
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#333;
}
#sk-footer input:focus{
    outline: 0;
}
#sk-footer input::-webkit-input-placeholder { /* WebKit browsers */
    color:#cbcbcb;
}
#sk-footer input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#cbcbcb;
   opacity:1;
}
#sk-footer input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#cbcbcb;
   opacity:1;
}
#sk-footer input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:#cbcbcb;
}
#sk-footer a{
	color:#b2b2b2;
	font-weight:600;
	position:absolute;
	height:40px;
	line-height:42px;
	text-decoration:none;
	padding:0 12px;
}
#sk-footer a:hover{
	color:#00aeff;
}
#sk-badge{
	background-color:#e74c3c;
	border-radius:100px;
	box-shadow:0 0 0 1px #cf2615;
	color:#fff;
	position:absolute;
	top:11px;
	left:10px;
	padding: 0 6px;
	font-size:12px;
	font-weight:400;
	line-height:18px;
}
#sk-handle{
	position:absolute;
	top:6px;
	right:10px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
	color:#808080;
	font-size:20px;
}
.sk-intro{
	color:#b0b0b0;
	font-size:12px;
	line-height:1.3;
}
.sk-row{
	margin-top:16px;
	clear:both;
}
.sk-row:first-of-type{
	margin-top:0;
}
.sk-row .sk-msg{
	padding:8px 12px;
	max-width:80%;
	position: relative;
	border-radius:4px;
}
.sk-row .sk-from{
	font-size:12px;
	color:#bbbbbb;
}
/* CSS Arrows Please */
.sk-row .sk-msg:after{
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 174, 255, 0);
	border-left-color: #00aeff;
	border-width: 6px;
	margin-top: -6px;
}
.sk-left-row .sk-msg:after{
	right: 100%;
	border-color: rgba(236, 236, 236, 0);
	border-right-color: #ececec;
}
.sk-right-row .sk-msg:after{
	left: 100%;
	border-color: rgba(0, 174, 255, 0);
	border-left-color: #00aeff;
}
/* Bubbles */
.sk-left-row .sk-msg{
	background-color:#ececec;
	float:left;
	color:#333;
}
.sk-right-row .sk-msg{
	background-color:#00aeff;
	float:right;
	color:#fff;
}
.sk-right-row + .sk-right-row, .sk-left-row + .sk-left-row{
	margin-top:6px;
}
.sk-clear{
	clear:both;
}
#sk-conversation::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 -6px 0 0 #fff, inset 0 6px 0 0 #fff;
  background-color: #f0f0f0 ;
}

#sk-conversation::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

#sk-conversation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 -3px 0 #fff, inset 0 3px 0 #fff;
  background-color: #ddd;
}
.sk-appear {
  -webkit-transform: translateY(90%);
	transform: translateY(90%);
  -webkit-animation: sk-appear-frames 0.7s cubic-bezier(.62,.28,.23,.99);
  animation: sk-appear-frames 0.7s cubic-bezier(.62,.28,.23,.99);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode:forwards;
	-webkit-animation-delay: 1.0s;
	animation-delay:1.0s;
}
.sk-appear #sk-handle{
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation: sk-rotate-frames 0.7s cubic-bezier(.62,.28,.23,.99);
  animation: sk-rotate-frames 0.7s cubic-bezier(.62,.28,.23,.99);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode:forwards;
	-webkit-animation-delay: 1.0s;
	animation-delay:1.0s;
}

@-webkit-keyframes sk-appear-frames {
  0% { -webkit-transform: translateY(90%)}
	100% { -webkit-transform: translateY(0%)}
}
@keyframes sk-appear-frames {
  0% { transform: translateY(90%)}
	100% { transform: translateY(0%)}
}
@-webkit-keyframes sk-rotate-frames {
  0% { -webkit-transform: rotate(270deg)}
	100% { -webkit-transform: rotate(90deg)}
}
@keyframes sk-rotate-frames {
  0% { transform: rotate(270deg)}
	100% { transform: rotate(90deg)}
}