.unread-badge {
    background-color: @brand-danger;
    border-radius: 100px;
    box-shadow: 0 0 0 1px #cf2615;
    color: white;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

#sk-messenger-button {
    .unread-badge {
        position: absolute;
        top: 0;
    }
}

#sk-header {
    .unread-badge {
        position: absolute;
        top: 11px;
        left: 10px;
    }
}
