@background-color: #fff;

@widget-height-lg: 640px;
@widget-height-md: 480px;
@widget-height-sm: 420px;
@widget-height-xs: 100%;

@widget-width-lg: 410px;
@widget-width-md: 350px;
@widget-width-sm: 330px;
@widget-width-xs: 100%;

@main-region-height-mobile: ~"calc(100% - @{footer-height} - @{header-height} - 2* @{header-vertical-padding})";

@header-height: 32px;
@header-vertical-padding: 6px;
@header-horizontal-padding: 18px;
@footer-height: 45px;

@header-extra-height: (@header-height + 2 * @header-vertical-padding);
@widget-close-bottom-md: -@widget-height-md + @header-extra-height;
@widget-close-bottom-lg: -@widget-height-lg + @header-extra-height;
@widget-close-bottom-sm: -@widget-height-sm + @header-extra-height;
@widget-close-bottom-xs: calc(~"@{header-extra-height} - @{widget-height-xs}");
@widget-close-top: calc(~"100% - @{header-extra-height}");

@remaining-height: @header-extra-height + @footer-height;
@conversation-height: calc(~"100% - @{remaining-height}");
@conversation-height-mobile: ~"calc(100%  - @{remaining-height})";
@conversation-width-mobile: 100%;

@logo-margin: ~"calc(50% - 83px)"; // 83 is width of text + logo + scrollbar width / 2

@input-horizontal-margin: 9px;
@input-horizontal-padding: 9px;

@sk-blue: #00aeff;
@sk-light-grey: #f4f4f4;
@sk-grey: #eee;
@sk-medium-grey: #b2b2b2;
@sk-dark-grey: #808080;
@sk-darker-grey: #424242;

@sk-base-text-color: #787f8c;
@sk-intro-background-color: #EFEFEF;

@settings-header-color: #464646;
@settings-channel-item-border-color: #EFEFEF;

@font-size-base: 14px;

@badge-size: 58px;

@widget-vertical-spacing: 20px;
@widget-horizontal-spacing: 20px;
@widget-badge-vertical-spacing: 40px;

// Original values were the following :
// @screen-lg-ht-min: 835px;
// @screen-md-ht-min: 648px;
// @screen-sm-ht-min: 488px;
// for some reason, LESS didn't like `@screen-lg-ht-min: 835px + @widget-vertical-spacing`
// so the value was added manually.

@screen-lg-ht-min: 855px;
@screen-md-ht-min: 668px;
@screen-sm-ht-min: 508px;

@screen-md-ht-max: @screen-lg-ht-min - 1;
@screen-sm-ht-max: @screen-md-ht-min - 1;
@screen-xs-ht-max: @screen-sm-ht-min - 1;

@widget-close-top-lg: calc(~"100% - @{widget-height-lg}");

@notification-height: 56px;
@long-notification-height: 75px;
